################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoffeeShop/v15
/CoffeeShop/obj/Debug
